body {
    background: #ECECEC;
    margin: 0;
    padding: 0;
}

.statistics > div {
    display: block;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.statistics_graphic {
    background: #FFF;
    border: 1px solid #D5D5D5;
}

.graphic_data {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 315px;
    height: 315px;
    margin-left: -157.5px;
    background: url(../img/splitter.png) 0px 1px;
    background-size: 387px;
}

.graphic_data > div {
    font-size: 13px;
    color: #222;
    position: absolute;
    right: -58px;
    width: 50px;
    text-align: left;
    opacity: 0;
}

.graphic_data.dataLoaded > div {opacity: 1;}

.graphic_data-offers {
    top: 0px;
}
.graphic_data-shares{
    top: 71px;
}
.graphic_data-landings {
    top: 150px;
}
.graphic_data-leads {
    top: 230px;
}
.graphic_data-purchases {
    top: 299px;
}

.graphic_data-preview {
    right: 0!important;
    width: 100%!important;
    text-align: center!important;
    bottom: -10px!important;
    font-size: 18px!important;
    color: #4F4F4F!important;
    font-family: Arial!important;
    opacity: 1!important;
}

.graphic_data.dataLoaded .graphic_data-preview {
    display: none;
}

.statistics_selection .ms-container {
    margin: 0 auto;
}